@use '@angular/material' as mat;

.file {
    @include mat.fab-overrides((container-color: orange,
            container-elevation-shadow: none,
        ));
}
.loading-spinner {
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;

    @include mat.progress-spinner-overrides((active-indicator-color: #c9a84c,
        ));
}