@use '@angular/material' as mat;

.recent-projects {
    font-size: 4.5rem;
}

@media screen and (min-width: 768px) {
    .recent-projects {
        font-size: 5rem;
    }
}

.brag-line {
    line-height: 15px;
}

.loading-spinner {
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;

    @include mat.progress-spinner-overrides((active-indicator-color: #c9a84c,
        ));
}