swiper-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    border: 1px solid #c9a84c6b;
    border-radius: 12px;
    overflow: hidden;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: min(80vw, 960px);
    height: 100%;
    background-color: #0e0c09;
    position: relative;
        overflow: hidden;
}

swiper-slide img {
    display: block;
    object-fit: contain;
    background-color: #0e0c09;
}


::ng-deep .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, #0e0c09, rgba(14, 12, 9, 0)) !important;
}

::ng-deep .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, #0e0c09, rgba(14, 12, 9, 0)) !important;
}